.prompt {
    background-color: #bfbfbf;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-self: flex-end;
    gap: 5px;
    width: calc(100% - env(safe-area-inset-left) - env(safe-area-inset-right));
    max-width: var(--max-width);
    margin: 0 auto;
}

.text {
    background: transparent;
    outline: none;
    border: none;
    resize: none;
    font-size: 20px;
    color: white;
    width: 100%;
}

.text::-webkit-scrollbar {
    display: none;
}

.text::placeholder {
    color: #ffffff77;
}

.icon {
    margin-bottom: 2px;
    cursor: pointer;
}
