.profile {
    margin: calc(var(--toolbar) + 30px) auto 0 auto;
    width: 100%;
    max-width: var(--max-width);
}

.open_ai {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

h2 {
    margin-top: 15px;
    margin-bottom: 10px;
}

strong {
    margin-top: 20px;
}

.secret_key {
    margin-top: 10px;
    font-size: 18px;
    padding: 4px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    max-width: 700px;
}

.model {
    margin-top: 10px;
    font-size: 18px;
    padding: 4px;
    border-radius: 5px;
    max-width: 200px;
}

.temperature {
    margin-top: 10px;
    font-size: 18px;
    padding: 4px;
    border-radius: 5px;
    max-width: 200px;
}
