.sent {
    background-color: #1e90ff;
    color: white;
    width: fit-content;
    max-width: 90%;
    padding: 10px 20px;
    border-radius: 10px 10px 0px 10px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    white-space: pre-wrap;
}
