.prompt {
    background-color: #bfbfbf;
    color: white;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 10px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-self: flex-end;
    gap: 5px;
    margin-top: 20px;
}

.text {
    background: transparent;
    outline: none;
    border: none;
    resize: none;
    font-size: 20px;
    color: white;
}

.text::-webkit-scrollbar {
    display: none;
}

.text::placeholder {
    color: #ffffff77;
}

.icon {
    margin-bottom: 5px;
    cursor: pointer;
}
